In [45]:
import pandas as pd
import numpy as np
import math

In [127]:
data=pd.DataFrame({'w':['end','venture'],'c(w)':[cv,cn],'c(w,prep)':[cvp,cnp]})
data

         w  c(w)  c(w,prep)
0      end  5156        607
1  venture  1442        155

(P(VAp=1|verb)xP(NAp=0|noun))/P(NAp=1|noun)

In [128]:
def calc_result(df):
    c_v=df['c(w)'][0]
    c_vp=df['c(w,prep)'][0]
    c_n=df['c(w)'][1]
    c_np=df['c(w,prep)'][1]
    prob_vp=c_vp/c_v
    prob_np=c_np/c_n
    prob_np1=1-prob_np
    res1=(prob_vp*prob_np1)/prob_np
    res=math.log2(res1)
    if res > 0:
        print("Attach the preposition with the verb")
    else:
        print("Attach the preposition with the noun")

In [131]:
calc_result(data)

Attach the preposition with the noun

In [133]:
data1=pd.DataFrame({'w':['send','soldiers'],'c(w)':[1742.5,1478],'c(w,prep)':[86,1]})
data1

          w    c(w)  c(w,prep)
0      send  1742.5         86
1  soldiers  1478.0          1

In [134]:
calc_result(data1)

Attach the preposition with the verb